.custom-card-style{
    width: 18rem;
    box-shadow: 5px 5px 5px #7144ca
}
.navbar{
  background-color:#3a1e70 ;
}
.nav-link {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: whitesmoke;
  transition: width 0.5s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

h1{
  background: -webkit-linear-gradient(#7b48e1, #f6f2fe);
  background: linear-gradient(to right, #7b48e1, #f6f2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color> h2{
  background: -webkit-linear-gradient(#7b48e1, #f6f2fe);
  background: linear-gradient(to right, #7b48e1, #f6f2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn{
  background-color: #7144ca;
}
.btn:hover{
  background-color: #7144ca;
}
.custom-border {
  border-color: #3a1e70 !important;
}

.card{
  width: 15rem;
  
}
.card>img{
  height: 10rem;
}
.rounded-circle{
  background-color: #7144ca
}
.line{
  width: 2px;
  background-color: #3a1e70;
}
