body{
background-color: black;
font-family: "Sora", sans-serif;
overflow-x: hidden;

}

html {
  scroll-behavior: smooth;
}

/* this is the navigation section css */
.navigation{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height: 74px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: -1px;
    background-color:  #3a1e70;

}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo>img{
    height: 41px;
    border-radius: 50%;
    /* margin-top: 5px; */
}

.logo a{
    color: white;
    text-decoration: none;
}
.logo a:hover{
    color: #8c59f4 ;
}
.hamburger-menu{
    display: none;

}
.items{
    display: flex;
    gap:2rem;
    align-items: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
  }
  
  nav ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #7b48e1, #3a1e70);
    transition: width 0.3s ease-in-out;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }
 
  



/* .gradient-button{
    background: linear-gradient(45deg, #7b48e1, #3a1e70);
    color: white;
    height: 50px;
    width: 125px;
    background-color:#7b48e1;
    border-radius: 15px;
    border:none;

} */
/* this is the hero section */
.hero-container{
    color:white;
    display: flex;
    /* padding: 15px 94px; */
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.left-container h2{
    font-size: 38px;
}
span{
  background: -webkit-linear-gradient(#7b48e1, #f6f2fe);
    background: linear-gradient(to right, #7b48e1, #f6f2fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 {
    font-size: 46px;
    background: -webkit-linear-gradient(#7b48e1, #f6f2fe);
    background: linear-gradient(to right, #7b48e1, #f6f2fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 .social_links{
    display: flex;
    gap: 1rem;
}
.download-btn{
    color: white;
    height: 50px;
    width: 194px;
    border: 1px solid #834df0;
    border-radius: 28px;
    background-color: black;
   
}
.download-btn:hover{
    background-color:#834df0 ;
}
.social-icons{
    height: 41px;
    width: 41px;
    /* background-color: red; */
    border-radius: 50%;
    border:1px solid #834df0;
    display: flex;
    align-items: center;
    justify-content: center;
   transform: 1.5s ease-in;
    
    
 

   
}
.social-icons:hover{
    background-color: #7d4ae6;
    transform: scale(1.1);
    
   
    
    
}
.social-icons i::before{
height: 30px;
width: 30px;
    color: #fff;text-align: center;
   
}
.profile{
  position: relative;
  margin-top: 85px;
}

.profile>img{
    height: 492px;
    width: 419px;
    border: 1px solid #7b48e1;
    border-radius: 35px;
    transform: rotate(5deg);
    transition: 0.3s ease-in;
}
.profile>img:hover{
    border: 2px solid #7b48e1;
    transform: rotate(-4deg);
}
/* this is the skill section */
.skills-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    gap:3rem;
}
.skill-heading{
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-body{
    display: flex;
    gap: 2rem;
}
.skill-card{
    height: 200px;
    width: 200px;
    background-color: #0f0715;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-filter: grayscale(90%);
}
.skill-card i{
    font-size: 80px;
    color:#7d4ae6;

}
.skill-card:hover{
    border: 1px solid #804cec;
    -webkit-filter: grayscale(0%);
    background-color: #3a1e70;
}
/* this is the Education and experience section */
.Education-Experience{
    color: white;
    display: flex;
    padding: 27px 237px;
    gap: 18em;
}
.Exp{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.Edu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card{
    background-color: #140c1c;
    width: 548px;
    border-radius: 15px;
    padding-left: 27px;
    height: 200px;
    padding-top: 5px;
}
.card h3{
    color:#8d5ded;
}
.card:hover{
    background: linear-gradient(45deg, #7b48e1, #3a1e70);

}
/* this is the project section */

.project-section{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-body{
    width: 100%;
    background: linear-gradient(45deg, #7b48e1, #3a1e70);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
   
}
.project-body img{
    margin: 30px;
    width: 602px;
    height: 483px;
    border-radius: 13px;
}
.project-heading ul{
  list-style: none;
}
.project-img-container{
position: relative;
}

.project-content{
    width: 497px;
    position: absolute;
    bottom: 32px;
    left: 53px;
    background: linear-gradient(45deg, #7b48e1, #3a1e70);
    padding: 13px;
    border-radius: 33px;
    margin-bottom: 13px;
    height: 100px;
    
    
}




/* this is the contact me section */

.contact-me-container{
    color: white;
    display: flex;
    justify-content: space-evenly;
    height:500px;
}
.contact-me-section{
    display: flex;
    gap: 2rem;
    align-items: center;
    /* background-color: red; */
    margin-top: 4%;
    width: 500px;
    padding: 72px;
}


.icons{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.icondiv{
    height: 56px;
    width: 59px;
    background: linear-gradient(45deg, #7b48e1, #3a1e70);
    border-radius: 50%;
}
.icondiv img{
    height: 30px;
    width: 30px;
    padding: 13px;
}


.description{
    width: fit-content;
}

/* responsive for mobile screen */

@media (max-width: 500px) {
    .hamburger-menu{
        display: block;
    }
    .items{
        display: none;
    }
    .phone-items{
        width: 114px;
        position: fixed;
        background-color:#3a1e70 ;
        margin-left: 57%;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-size: 20px;
        border-radius: 13px;
        top: 32px;
        height: 38%;
        padding: 23px;
      }
      .phone-items>li>a{
        text-decoration: none;
        color: white;
      }
    .hero-container {
        padding: 0; /* Remove padding */
        /*align-items: initial;  Remove align-items */
        height: 130vh;
        width: 100%;
        flex-direction: column-reverse;
    }
    .left-container h1{
        font-size: 28px;
    }
    .left-container h2{
        font-size: 31px;
    }
    .left-container p{
        font-size: 20px;
    }
    
    .profile>img{
        height: 322px;
        width: 314px;
        transform: initial;
    }
   
    /* this is the skil section for mobile screen */
    .skills-container{
        height: initial;
    }
    .skill-heading{
        width: initial;
        /* align-items: initial; */
    }
    .skill-heading h1{
        font-size: 36px;
    }
    .skill-body{
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
    }
    .skill-card{
      height: 183px;
      width: 144px;
      z-index: -1;
    }
    /* this is education and experience section for mobile screen */
    .Education-Experience{
        flex-direction: column;
        gap: initial;
        padding: 0;
    }
    .Education-Experience h1{
        font-size: 34px;
        
    }
    .card{
        width: 299px;
        height: 176px;
        font-size: 13px;
    }
    /* this is the project section for mobile screen */
    /* .project-section{
        margin-top: 14%;
    } */
    .project-heading h1{
        font-size: 36px;
    }
    .project-body img {
        margin: 10px;
        width: 339px;
        height: 313px;
  
}
.project-content{
  width:301px;
  bottom:9px;
  left:19px;
  padding: 9px;
}
/* this is the contact me section for the mobile screen */

.contact-me-heading{
    width:336px;
}
.contact-me-heading h1{
    font-size: 30px;
}
.icons{
    gap:2rem;
}
.description{
    margin-top: 18px;
    font-size: 14px;
}

}
/* this is for tablet view */
 @media only screen and (min-width: 500px) and (max-width: 1024px) { 
    /* this is the navigation section for tablet view */
 h1{
    font-size: 65px;
 }
  .navigation{
    /* justify-content: space-evenly; */
    width: 283vh;
  }
  .logo a{
    font-size: 32px;
  }
  nav ul li a{
    font-size: 30px;
  }
  /* .gradient-button{
    height: 61px;
    width:190px ;
    font-size: 29px;
  } */
  /* this is the hero section for tablet view */
  .hero-container{
    height: 134vh;
    /* justify-content: initial; */
    padding:initial;
    width: 145.4rem;
  }
  .left-container{
    font-size: 32px;
  }
  .left-container p{
    font-size: 38px;
  }
  .social_links{
    display: flex;
    gap: 4rem;
    height: 100px;
    align-items: center;
  }
  .download-btn{
    color: white;
      height: 93px;
      width: 374px;
      border: 4px solid #834df0;
      border-radius: 44px;
      background-color: black;
      font-size: 28px;
    }
  .social-icons{
    height: 86px;
    width: 114px;
    border: 3px solid #834df0;;
  }
 
 
.profile>img {
    height: 636px;
    width: 660px;
    transform: initial;
}
/* this  is the skill section for tablet view */
  .skills-container{
    width: 317vh;
    height: 114vh;
    gap:6rem;
  }
  .skill-heading{
    width: 590px;
  }
  .skill-body{
   gap: 1rem;
   margin-right: 233px;
  }
  .skill-card{
    height: 389px;
    width: 317px;
   
  }
  .skill-card i{
    font-size: 191px;
  }
  /* this is the education and experience section for tablet view */
  .Education-Experience{
    margin-left: 20%;
    width: 251vh;
    padding: initial;
    gap: 14em;
  }
  .card{
    height:412px;
    width:829px;
    font-size:33px;
  }
  /* this is the project section for tablet view */
  
  .project-section{
    width: 180rem;
  }
  .project-body{
    justify-content: initial;
  }
  .project-body img{
    width: 1085px;
    height: 690px;
  }
  /* this is the contact me section for the tablet view */

  .contact-me-container{
    width: 319vh;
  }
  .contact-me-section{
    width: 600px;
  }
  .icons{
    gap:5rem;
  }
  .icondiv{
    height: 103px;
    width: 119px;
  }
  .icondiv img{
    height: 49px;
    width: 60px;
    padding: 29px;
  }
  .description{
    font-size: 30px;
  }

  } 